* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass", sans-serif;
}

form {
    height: 300px;
    width: 300px;

    background-color: hsl(213, 19%, 18%);   
    border-radius: 15px;
    padding: 20px;
    box-shadow: 1px 1px 10px black;

    transition: all ease 1s;
}

#rater {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#star {
    height: 32px;
    width: 32px;

    background: hsl(220, 6%, 29%) url(icon-star.svg) no-repeat center /25px 25px;
    border-radius: 50%;
    padding: 2px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

p {
    color: hsl(216, 12%, 54%);
    font-weight: 400;
    font-size: 15px;
}

#radios {
    display: flex;
    justify-content: space-between;

    list-style: none;
}

label {
    height: 20px;
    width: 20px;

    background-color: hsl(220, 6%, 29%);
    border-radius: 50%;
    padding: 10px;
    
    color: hsl(217, 12%, 63%);
    text-align: center;

}

input[type=radio]{
    display:none
}

#num1:checked ~ label.num1,#num2:checked ~ label.num2,#num3:checked ~ label.num3,
#num4:checked ~ label.num4,#num5:checked ~ label.num5{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

label:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);

    cursor: pointer;
}

input[type=submit] {
    height: 35px;
    width: 100%;

    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 50px;
    border: none;

    cursor: pointer;
}

input[type=submit]:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

/* Parte final */
#finish {
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

#avaliacao {
    height: 22px;
    width: 170px;
    align-self: center;

    background-color: hsl(220, 6%, 29%);
    border-radius: 100px;
    padding: 2px;

    color: hsl(25, 97%, 53%);
    font-weight: 400;
    vertical-align: middle;
}

#mbImg {
    height: 125px;
    width: 80%;
    align-self: center;

    background: url(../images/illustration-thank-you.svg) no-repeat center /200px 120px;
    padding: 2px;
}

@media (max-width:375px){
    form{
        width: 230px;
        padding: 15px;
    }
}