
:root{
    /*Cores*/
    --cor_naosei:#FBAF00;
    --cor_Detalhes:#FFD639;
    --cor_Destaque_letras:#F46036;
    --cor_preto:#121619;
    --cor_contraste:#1B998B;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: var(--cor_preto);
    color: var(--cor_Destaque_letras);
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 15px;
}

div.show{
    line-height: 30px;
    padding: 10px;
    margin-left: 15px;
    background-color: var(--cor_Detalhes);
    border-radius: 5px ;
    box-shadow: 0px 0px 10px #FBAF00;
    margin-right: 15px;
}

div#lugares{
    background-color: black;
    display: flexbox;
    flex-wrap: wrap;
    padding: 10px;
    margin: center;
}

.container {
    display: flex;
    align-items: stretch;
    align-self: stretch;
}
button {
    height: 50px;
    width: 50px;
}

#tela {
    width: 200px;
}

#area {
    background-color: #1B998B;
}