/*Configuração Gerais*/
:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

/*layout de Desktop*/
@media screen and (min-width:792px) {

    /* background com os copos e efeitos roxo */
    body {
        background-image: url(midias/blur-1.png), url(midias/blur-2.png);
        background-size: cover, cover;
        background-position: right top, center bottom;

        justify-content: space-evenly;
    }

    /*Inicio do header*/
    header {
        flex-grow: 0;
    }

    div#logo {
        background-image: url(midias/logo-desktop.svg);
        background-position: right;

        width: 150px;
        height: 50px;

        flex-grow: 1;
    }

    #menu_mobile {
        display: none;
    }

    /*Menu desktop*/
    #menu {
        justify-self: center;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-grow: 2;
        flex-shrink: 0;

    }

    #menu>a {
        text-decoration: none;
        color: var(--text-color);
        border-bottom: 3px transparent;
        padding: 10px;
    }

    #menu>a:hover {
        color: var(--button);
        transition: .3s;
    }

    #menu>a:not(:hover) {
        text-decoration: none;
        color: var(--text-color);
        transition: 0.3s;
    }

    .but_cafe {
        flex-grow: 1;
    }

    .but_cafe>a {
        text-decoration: none;
        color: var(--text-color);
        border: 3px solid var(--button);
        border-radius: 5px;
        font-size: 1em;
        font-weight: bold;
        padding: 2px 15px 2px 15px;

        box-sizing: border-box;
        width: 100%;
    }

    .but_cafe>a:hover {
        border: 3px solid#9577db;
        box-shadow: 0px 0px 10px #9577db;
        background-color: #9577db;
        color: #000;
        transition: 1s;
    }

    .but_cafe>a:not(:hover) {
        transition: 2s;
    }

    /*Fim da parte do header*/

    /*Parte dos textos*/
    .mobile {
        display: none;
    }

    div#container {
        flex-grow: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    div#container>h1 {
        text-align: center;
        font-size: 80px;
    }

    footer {
        flex-grow: 2;
    }
}