/*Configuração Gerais*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}



/*layout de mobile*/
@media screen and (max-width:792px) {

    /* background com os copos e efeitos roxo */
    body {
        background-image: url(midias/blur-mobile.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        justify-content: space-evenly;
    }

    /*Inicio do header*/

    div#logo {
        background-image: url(midias/logo-mobile.svg);
        width: 171px;
        height: 33px;
    }

    /*Personalização o menu hambuger*/
    header>nav#menu {
        display: block;
        position: absolute;
        z-index: 1000;

        width: 100%;
        top: 72px;
        height: 0px;
        right: 0px;

        visibility: hidden;
        overflow-y: hidden;

        transition: .8s;
    }

    #menu.active {
        height: calc(100vh - 72px);

        display: flex;
        flex-direction: column;
        background-color: var(--backgrond);

        visibility: visible;
        overflow-y: auto;
    }

    #menu>a {
        display: none;
    }

    #menu.active>a {
        display: block;
        text-decoration: none;
        color: var(--text-color-menu-mobile);
        font: 18px 700;
        padding: 1em;
        margin: 0;
        color: var(--border-menu-mobile);
        border-bottom: 1px solid var(--border-menu-mobile);
        border-top: 1px solid var(--border-menu-mobile);
        border-left: 5px solid transparent;
        box-sizing: border-box;
    }

    #menu.active>a:hover {
        border-left: 5px solid var(--button);
        color: white;
        transition: 0.4s ease-in-out;
    }

    header>div.but_cafe {
        display: none;
    }

    #menu_mobile {
        background-color: black;
        cursor: pointer;
        width: 30px;
        height: 15px;
        border: none;
        transition: 0.5s;
    }

    #menu_mobile.active>img {
        display: none;
    }

    #menu_mobile.active {
        background-image: url(midias/menu-buguer-close.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 18px;
        height: 18px;
        transition: 0.5s;
    }

    /*Fim da parte do header*/

    /*Parte dos textos e botão de pegar café*/
    div#container {
        margin: auto;
        text-align: center;
        margin-top: 3%;
    }

    div#container>p {
        color: var(--text-color);
        font-size: 6vw;
        font-weight: 700;
    }

    div#container>p:not(:hover) {
        transition: 1s;
    }

    div.mobile {
        margin-top: 20%;
    }

    div.mobile>a {
        text-decoration: none;
        color: var(--text-color);
        border: 3px solid var(--button);
        border-radius: 5px;
        padding: 1% 10% 1% 10%;
        font-size: 4vw;
        font-weight: bold;
    }

    div.mobile>a:hover {
        border: 3px solid#9577db;
        box-shadow: 0px 0px 10px #9577db;
        background-color: #9577db;
        color: #000;
        transition: 1s;
    }

    div.mobile>a:not(:hover) {
        transition: 2s;
    }

    div#container>h1 {
        margin-top: 12%;
        font-size: 9vw;
    }

    /*Personalização do Great code*/

    footer {
        flex-grow:1 ;
        min-height: 200px;
        max-height: 350px;
    }
}