/*Configuração Gerais*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

body {
    background-color: var(--backgrond);
}

/*layout de mobile*/
@media screen and (max-width:610px) {

    /* background com os copos e efeitos roxo */
    body {
        background-image: url(midias/blur-mobile.png), url(midias/rocket-coffee.png);
        background-size: cover, contain;
        background-repeat: no-repeat;
        height: 100%;
        background-attachment: fixed;
        background-position: center, bottom center;
    }

    /*Inicio do header*/

    header {
        display: flex;
        justify-content: space-between;
        padding: 1.2em;
    }

    div#logo {
        background-image: url(midias/logo-mobile.svg);
        width: 171px;
        height: 33px;
    }

    /*Personalização o menu hambuger*/
    header>nav#menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 72px;
        right: 0px;
        height: 0px;
        z-index: 1000;
        transition: .8s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu.active {
        height: calc(100vh - 72px);
        display: flex;
        flex-direction: column;
        background-color: transparent;
        backdrop-filter: blur(5px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu>a {
        display: none;
    }

    #menu.active>a {
        display: block;
        text-decoration: none;
        color: white;
        font-weight: 700;
        padding: 1em;
        margin: 0 1em;
        border-bottom: 2px solid white;
    }

    #menu.active>a:hover {
        border: 4px solid;
        transition: 0.5s;
    }

    header>div.but_cafe {
        display: none;
    }

    #menu_mobile {
        background-color: black;
        cursor: pointer;
        width: 30px;
        height: 15px;
        border: none;
        transition: 0.5s;
    }

    #menu_mobile.active>img {
        display: none;
    }

    #menu_mobile.active {
        background-image: url(midias/menu-buguer-close.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 18px;
        height: 18px;
        transition: 0.5s;
    }

    /*Fim da parte do header*/

    /*Parte dos textos e botão de pegar café*/
    div#container {
        margin: auto;
        text-align: center;
        margin-top: 3%;
    }

    div#container>p {
        color: var(--text-color);
        font-size: 8vw;
        font-family: var();
        font-weight: 700;
    }

    div#container>p:not(:hover) {
        transition: 1s;
    }

    div.mobile {
        margin-top: 20%;
    }

    div.mobile>a {
        text-decoration: none;
        color: var(--text-color);
        border: 3px solid var(--button);
        border-radius: 5px;
        padding: 1% 10% 1% 10%;
        font-size: 4vw;
        font-weight: bold;
    }

    div.mobile>a:hover {
        border: 3px solid#9577db;
        box-shadow: 0px 0px 10px #9577db;
        background-color: #9577db;
        color: #000;
        transition: 1s;
    }

    div.mobile>a:not(:hover) {
        transition: 2s;
    }

    div#container>h1 {
        color: var(--text-color);
        margin-top: 12%;
        font-size: 9vw;
        text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.473);
    }

    /*Personalização do Great code*/
    div#container>h1>span {
        background: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: .2vw var(--text-color);
    }
}