@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Lato' ,sans-serif;
}

main {
    columns: 2;
}

aside {
    display: block;
}

aside.left_column {
    display: block;
    
}

aside.right_column {
    display: flex;
    /*flex-direction: row;*/
    width: calc(100%-380px);
}

body{
    background-color: whitesmoke;
}

main{
    background-color: white;
    margin: auto;
    max-width: 760px;
    min-width: 280px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.476);
    padding: 10px;
    
}

nav{
    columns: 4;
}

nav a {
    height: 25px;
    width: 25px;
    border:  1px solid blue;
    display: block;
    border-radius: 50%;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

nav a#google {
    background-image: url(midias/assets-desafio-codesigners/google.svg);
}

nav a#facebook{
    background-image: url(midias/assets-desafio-codesigners/fb.svg);
    background-size: 50%;
}
nav a#twitter{
background-image: url(midias/assets-desafio-codesigners/twitter.svg);
}
nav a#linkedin{
    background-image: url(midias/assets-desafio-codesigners/in.svg);
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 10px;
    color: orangered;
}

nav {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 15px;
}

h2 {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: lighter;
}

form > [type="text"],[type="email"],[type="password"] {
    margin: 5px;
    height: 1.4em;
    border-radius: 5px;
    background-color: #f2f1f19e;
    border: 2px solid #767676d9;
    text-align: justify;
    padding: 10px;
    max-width: 300px;
    min-width: 100px;
}

[type="checkbox"] {
    margin-top: 15px;
}

.check {
    color: orangered;
    text-decoration: none;
    cursor: pointer;
}

[type="button"] {
    padding: 10px;
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    border-radius: 8px;
}

[type="button"].cadastra{
    background-color: orangered;
    border: 3px solid orangered;
    color: white;
}


[type="button"].cadastra:hover{
    background-color: white;
    color: orangered;
    transition: 0.5s;
}
    
[type="button"].entra {
    background-color: white;
    border: 3px solid blue;
    color: orangered;
}

[type="button"].entra:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
}

img{
    
    width: 100%;
    height: 500px;
    object-fit: cover;
}

